.gradle
/local.properties
.idea
.DS_Store
/build
/android/build
/android/libs
/core/build
/desktop/build
/html/build
/html/war
/ios/build
/captures

*.iws
.idea/libraries
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
